.Stats {
    width: 200px;
    float: left;
    margin: 15px 0;
    color: #000
}

.Stats p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Stats h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid gray
    
}

.Stats li{
    margin: 15px 0;
}

